html {
    background-color:#034f84;
    height: 100vh;
    border: solid #92a8d1  15px;
}

#wrapper {
    text-align: center;
    width: auto;
}

#page-header {
    color: darkkhaki;
    text-decoration: underline;
    text-align: center;
}

#mad-lib-story {
    color: darkkhaki;
    padding-left: 15vw;
    width: 70vw;
    text-align: center;
}